html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
     Smoothing 
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

a {text-decoration: none}

/* font-color helpers */
.light-blue {color: #2A99D2}
.black {color:#494949}
.gray {color:#929292}
.lighter-gray {color:#979797}
.lightest-gray {color:#E6E6E6}

/* bg color helpers */
.bg-lighter-gray {background-color:#979797}
.bg-lightest-gray {background-color: #F4F4F4}

/* border-color helpers */
.b--black {border-color:#494949}
.b--gray {border-color:#929292}
.b--lighter-gray {border-color:#979797}
.b--lightest-gray {border-color:#E6E6E6}
